*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.case{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 100px;
    background-color: rgb(97, 97, 171);
}
.n-main{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 30px;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}
h1{
    font-size: 40px;
    color: #fff;
}
.icons{
    font-size: 20px;
}
.mobile{
    display: none;
}
.card{
    width: 100%;
    height: 300px;
    background-color: yellow;
}
.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
@media (max-width:1216px) {
    .main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;}
        .card{
            background-color: blue;
        }
}
@media (max-width:952px) {
    .main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;}
        .card{
            background-color: green;
        }
}
@media (max-width:768px) {
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;}
        .card{
            background-color: red;
        }
}
@media (max-width:450px) {
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;}
        .card{
            background-color: black;
        }
}
@media (max-width:768px) {
    .links{
        display: none;
    }
    .mobile{
        display: block;
        svg{
            color: #fff;
        }
    }
}
.h-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 0;
    gap: 30px;
}
.h-right img{
    width: 100%;
    max-width: 400px;
    transition: 0.5s;
    border-radius: 20px;
}
img:hover{
    transform: scale(1.1);
}
.h-left{
    h2{
        font-style: 50px;
        color: blue;
    }
    p{
        color: gray;
        font-style: 18px;
        padding: 20px 0;
    }
    button{
        padding: 10px 15px;
        color: #fff;
        background-color: blue;
        border: none;
        font-style: 25px;
    }
}
@media (max-width:950px) {
    .h-main{
        flex-direction: column;
    }
    .h-left{
        text-align: center;
    }
}